@font-face {
    font-family: sukhumivt;
    src: url(../fontes/SukhumvitSet-Light.ttf);
}


#footer{
    color: #ffffff;
}

#footer a{
    text-decoration: none;
    color:#ffffff;
    padding: 5px;
}

#footer a:hover{
    color: aqua;
}
.tituloh3{
    text-align: center;
}
/*Fonte especial*/
.ftespecial{
    font-family: sukhumivt;
}