/*Pagina Index*/
.texto{
    text-align: justify;
}
.titulo{
    text-align: center;
}

body{
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

/*Como fazer o menu para de descer a pg*/
#menu {
    display: flex;
}

#menu li{
    display: flex;
    padding-right: 20px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: gray;
}

.bottom {
    margin-bottom: 50px;
}







/*Pagina Informações - fazer a margin da pg de infos margin: 100px;*/
.container_infos{
    margin: 100px;
}








/*Pagina Personagens - usar a div para deixar o personagem ao lado da foto*/
.container_personagem{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 100px;
}

.texto_personagem{
    text-align: justify;
    padding-right: 20px;
}

/*Banner*/
/*#banner{
    background-image: url(../img/banner_std.jpg);
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    width: auto;
    height: auto;
}*/
