/*Pagina Index*/
.texto{
    text-align: justify;
}
.titulo{
    text-align: center;
}

body{
    margin: 20px;
    /* Não consigo usar o link curto para isso
    background-image: url("file:///Users/mariaadelia/Desktop/Programa%C3%A7%C3%A3o/Generation/HTML_CSS_JAVASCRIPT/Generation/CODIGOS/FudamentosWeb/stardew_valley/assets/img/background.jpeg")*/;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Como fazer o menu para de descer a pg*/
#menu {
    display: flex;
}

#menu li{
    display: flex;
    padding-right: 20px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: gray;
}

.bottom {
    margin-bottom: 50px;
}







/*Pagina Informações*/









/*Pagina Personagens - usar a div para deixar o personagem ao lado da foto*/
.container_personagem{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.texto_personagem{
    text-align: justify;
    padding-right: 20px;
}